body {
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(197, 102, 102);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
    width: 200px;
    height: auto;
}

#redButton{
    border: 5px solid black;
    padding: 5px;
    background-color: red;
    font-family: fantasy;
    color: white;
    width: 100px;
    height: 50px;
    font-size: large;
}